<h1>This is how I feel!</h1>
<p>
    I am Erica, a social work student and a proud member of 
    railsgirls Kumasi. One will ask, why should a social work student learn a programming language?(coding) How beneficial is that going to be on the field of practice? However, I had the same thoughts but joining Rails Girls Kumasi enlightened me on the essence of interdisciplinary knowledge and skills to help eleviate clients problem, ensure high sense of empowerment and improve their well-being.
</p>
<p>Find me in app/views/pages/info.html.erb</p>
